/* User Component */
.User-app {
    flex: 1;
    max-width: 300px;
    margin-right: 0px;
    background-color: #1e2029;
    margin-top: 5%;
  }
  /* Estilos para el componente User */
  .right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  
  .card-user {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    border: 1px solid #252732;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #292a37;
    max-width: 300px;
    color: white;
    padding: 30px 40px;
  }
  
  .card-user img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Estilos para la línea horizontal */
  .card-user hr {
    width: 100%;
    border: 1px solid #989898;
    margin: 20px 0;
  }
  
  /* Estilos para el párrafo del nombre del usuario */
  .card-user p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
  }
  
  /* Estilos para el botón de inicio de sesión o cierre de sesión */
  .card-user button {
    margin-top: 20px;
    background-color: #4285F4; /* Color de fondo de Google */
    color: #fff; /* Color del texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .card-user button:hover {
    background-color: #357AE8; 
  }
  
  .card-user button img {
    width: 20px; 
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .card-user button i {
    margin-right: 5px;
  }